.vehicle-edit-background{
  width: 100%;
  height: calc(100vh - 4rem);
}
.vehicle-edit-container {
  width:60rem;
  height: 80vh;
  margin-top: 5vh;
  border-radius: 0.5rem;
  background-color: white;
}
.header-container{
  width: 100%;
  height: 3rem;
  margin-top: -1.5rem;
}
.message-title{
  min-width: unset;
  line-height: normal;
  padding: unset;
  width:20rem;
  height:3rem;
  background-color:rgb(255, 211, 130);
  border-radius: 2%;
  color: white;
}
.message-title > ::ng-deep .mat-button-wrapper{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  place-content: space-evenly;
}
.message-title > ::ng-deep .mat-button-wrapper > h2{
  padding: 0;
  margin: 0;
}

.vehicle-info-container{
  width:100%;
}
.images-container{
  width:100%;
  height:17rem;
}
.uploaded-images{
  width: 50rem;
  height: 100%;
  border-radius: 2%;
  border-style: dashed;
  border-width: 0.1rem;
  border-color: gray;
  overflow-x: scroll;
  overflow-y: hidden;
  position: sticky;
}
.actions{
  width:100%;
}
.uploaded-image{
  width:12rem;
  height:12rem;
  border-radius: 2%;
  object-fit: contain;
  transition: 0.5s;
}
.uploaded-image:hover{
  opacity:0.5;
}
.actions > .mat-flat-button{
  outline:none;
  box-shadow: none;
}
.action-button{
  color:black;
  background-color:rgb(255, 211, 130);
}
.upload-image, .remove-images{
  height: 3rem;
  width: 11rem;
}
.action-button:focus{
  outline:none;
  box-shadow: none;
}
.action-button > ::ng-deep .mat-button-wrapper{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  place-content: space-evenly;
}
.add-vehicle{
  border-radius: 50%;
  min-width: unset;
  line-height: unset;
  height: 3rem;
}
.cover-image{
  background-color:rgb(255, 211, 130);
}
